@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */

@layer components{
    /* .forget-password-text{
        @apply underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500;
    }
    .btn-primary{
        @apply inline-flex items-center px-4 py-2 bg-orange-400 border border-transparent rounded-md font-bold text-xs text-black  uppercase tracking-widest hover:bg-orange-700 focus:bg-orange-700 active:bg-orange-900 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2 transition ease-in-out duration-150;
    }

    .checkbox{
        @apply rounded border-gray-300 text-orange-600 shadow-sm focus:ring-orange-500;
    }

    .input{
        @apply border-gray-300 focus:border-orange-500 focus:ring-orange-500 rounded-md shadow-sm;
    } */

    /* .input-file{
        @apply block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400
        file:bg-gray-50 file:border-0
        file:me-4
        file:py-3 file:px-4
        dark:file:bg-neutral-700 dark:file:text-neutral-400;
    } */
}
*{
    font-family: 'sarabun', serif !important;
}