*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 30px;
    font-size: 12px;
    background-color: #f5f5f5;
    flex-direction: row;
    border : 30px solid #00ffff;
}
